body {
  background-color: rgb(145 104 47);
}
h1 {
  color: rgb(6, 6, 6);
  background-color: rgb(177 119 39);
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
}
h2 {
  color: rgb(6, 6, 6);
  background-color: rgb(177 119 39);
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
}
.galleria-logo {
    display: flex;
    gap: 20px;
    align-items: center;
}
.galleria-logo img {
    width: 100%;
    height: auto;
    max-width: 150px;
}
.menu-principale {
    width: fit-content;       
    margin: 0 auto;         
    border: 2px solid #B17727;
    border-radius: 8px;        
    padding: 10px 20px;       
}
.menu-principale ul {
    list-style: none;         
    display: flex;          
    gap: 25px;                
    margin: 0;
    padding: 0;
}
.menu-principale a {
    text-decoration: none;    
    color: #ffffff;           
    font-weight: bold;
}
.menu-principale a:hover {
    color: #ffcc00;
}
.menu-sottopagina {
    width: fit-content;       
    margin: 0 auto;         
    border: 2px solid #B17727;
    border-radius: 8px;        
    padding: 10px 20px;       
}
.menu-sottopagina ul {
    list-style: none;         
    display: flex;          
    gap: 25px;                
    margin: 0;
    padding: 0;
}
.menu-sottopagina a {
    text-decoration: none;    
    color: #ffffff;           
    font-weight: bold;
}
.menu-sottopagina a:hover {
    color: #ffcc00;
}
.contattami-aiuto {
  color: rgb(6, 6, 6);
  background-color: rgb(177 119 39);
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
}
.immagine-articolo img {
    width: 100%;
    height: auto;
    max-width: 150px;
}